astor==0.8.1
coloredlogs==15.0.1
flatbuffers==22.11.23
gast==0.2.2
google-pasta==0.2.0
grpcio==1.50.0
h5py==3.7.0
humanfriendly==10.0
importlib-metadata==5.1.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.4.1
MarkupSafe==2.1.1
mpmath==1.2.1
numpy==1.21.6
onnxruntime==1.13.1
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
protobuf==4.21.9
pyparsing==3.0.9
six==1.16.0
sympy==1.10.1
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==2.1.1
tqdm==4.64.1
typing_extensions==4.4.0
Werkzeug==2.2.2
wrapt==1.14.1
zipp==3.11.0
